{% extends "finance/layout.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
    <fieldset class="fieldset">
        <form method="post">
            {% csrf_token %}
            <legend class="fieldset-legend">Client</legend>
            {% if messages %}
                {% for m in messages %}
                <div role="alert" class="alert alert-success max-w-sm my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>{{ m }}</span>
                </div>
                {% endfor %}
            {% endif %}
            <select class="select validator" required name="client" id="client">
                <option disabled selected value="">Pilih Client</option>
                    {% for c in client %}
                        <option value={{ c.id }}>{{ c.client }}</option>   
                    {% endfor %}             
            </select>
            <p class="validator-hint">Required</p>
            <button class="btn btn-info" type="submit">Submit</button>
    </fieldset>
    {% if data_anggaran %}
    <table class="table table-sm mt-4">
            <thead>
            <tr>
                <th>No. </th>
                <th>Task</th>
                <th>tanggal</th>
                <th>Aktual</th>
                <th>Sisa Budget</th>
            </tr>
            </thead>
            <tbody>
                {% for e in expense %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.jenis_anggaran }}</td>
                    <td>{{ e.tanggal }}</td>
                    <td>Rp. {{ e.total }}</td>
                    <td>Rp. {{ e.anggaran_id.total_anggaran }}</td>
                    </tr>   
                {% endfor %} 
            </tbody>
        </table>
    {% endif %}
{% endblock %}