{% extends "finance/layout.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
    <fieldset class="fieldset">
        <form method="post">
            {% csrf_token %}
            <legend class="fieldset-legend">Client</legend>
            <select class="select validator max-w-xs" required name="client" id="client">
                <option disabled selected value="">Pilih Client</option>
                    {% for c in client %}
                        <option value={{ c.id }}>{{ c.client }}</option>   
                    {% endfor %}             
            </select>
            <p class="validator-hint">Required</p>
            <button class="btn btn-success" type="submit">Submit</button>
    </fieldset>
    {% if expense %}
    <table class="table table-sm mt-4">
            <thead>
            <tr>
                <th>No. </th>
                <th>Task</th>
                <th>Client</th>
                <th>Deskripsi</th>
                <th>Tanggal</th>
                <th>Sisa Budget</th>
            </tr>
            </thead>
            <tbody>
                {% for d in expense %}
                    <tr class="{% if d.total_anggaran < 0 %}bg-red-600{% endif %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ d.anggaran_id__jenis_anggaran }}</td>
                        <td>{{ d.anggaran_id__client_id }}</td>
                        <td>{{ d.anggaran_id__deskripsi }}</td>
                        <td>{{ d.tanggal }}</td>
                        <td>Rp. {{ d.anggaran_id__total_anggaran }}</td>

                    </tr>   
                {% endfor %} 
            </tbody>
        </table>
    {% endif %}
{% endblock %}