{% extends "pm/layout.html" %}
{% load static %}

{% block content %}
    <fieldset class="fieldset">
        <form method="post">
            {% csrf_token %}
            <legend class="fieldset-legend">Projek</legend>
            {% if messages %}
                {% for m in messages %}
                <div role="alert" class="alert alert-success max-w-sm my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>{{ m }}</span>
                </div>
                {% endfor %}
            {% endif %}
            <select class="select validator max-w-xs" required name="pilihan" id="pilihan">
                <option disabled selected value="">Pilih Projek</option>
                {% if projek %}
                    {% for p in projek %}
                        <option value={{ p.id }}>{{ p.client }}</option>   
                    {% endfor %}             
                {% endif %}
            </select>
            <p class="validator-hint">Required</p>
            <button class="btn btn-info" type="submit" id="inputClient" name="inputClient">Submit</button>
        </form>
    </fieldset>
    
    {% if client_po %}
        <table class="table table-sm mt-4">
            <thead>
            <tr>
                <th>No. PO</th>
                <th>Vendor</th>
                <th>Deskripsi Barang</th>
                <th>Tipe</th>
                <th>Tanggal PO</th>
                <th>Total Tagihan</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for c in client_po %}
                <tr>
                    <td>{{ c.nomor_po }}</td>
                    <td>{{ c.vendor }}</td>
                    <td>{{ c.deskripsi_barang }}</td>
                    <td>{{ c.tipe }}</td>
                    <td>{{ c.tanggal_po }}</td>
                    <td>{{ c.total }}</td>
                    <td>
                        <fieldset class="fieldset">
                        <form method="post" action="{% url 'pm-update' c.nomor_po %}">
                            {% csrf_token %}
                            <div class="join">
                                <div>
                                    <select class="select join-item" id="status" name="status" required>
                                        <option {% if c.status == 'menunggu persetujuan' %} selected {% endif %} value="menunggu persetujuan">Menunggu Persetujuan</option>
                                        <option {% if c.status == 'disetujui' %} selected {% endif %} value="disetujui">Disetujui</option>
                                        <option {% if c.status == 'telah dikirim' %} selected {% endif %} value="telah dikirim">Telah Dikirim</option>
                                        <option {% if c.status == 'barang sampai' %} selected {% endif %} value="barang sampai">Barang Sampai</option>
                                    </select>
                                </div>
                                <button class="btn btn-success join-item" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-iconid="edit" data-svgname="Edit">
                                        <path d="M11 4H4a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-7"></path>
                                        <path d="M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                        </fieldset>
                    </td>
                </tr>   
            {% endfor %}      
            </tbody>
        </table>
    </div>
    {% endif %} 
{% endblock %}