{% extends "logistik/layout.html" %}

{% block content %}
    <fieldset class="fieldset">
        <form method="post">
            <legend class="fieldset-legend">Projek</legend>
            <select class="select validator" required>
                <option disabled selected value="">Pilih Projek</option>
                {% for p in projek %}
                    <option value="{{ p.id }}">{{ p.client }}</option>
                {% endfor %}
            </select>
            <p class="validator-hint">Required</p>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </fieldset>
{% endblock %}